test/*
.bundle
db/*.sql
db/*.sqlite3
log/*.log
tmp/*
tmp/**/*
config/database.yml
*.*~
*.*#
public/plugin_assets/
public/stylesheets/*.css
public/system/*
public/tmp/
coverage
*.swp
*.DS_Store
vendor/bundle/
vendor/cache/
doc/*
.tmtags
TAGS
**/*/.sass-cache/
.sass-cache/
coverage/
coverage.vim
public/assets/
*.tabs
