$white: #fff;
$black: #444;
$dark_gray: #777;
$gray: #999;
$light_gray: #e8e8e8;
$extra_light_gray: #f6f6f6;
$green: #1bac7e;
$light_green: #bef5e3;
$yellow: #fdf59a;
$blue: #84c8ee;

$main_text_color: $black;
$main_text_color_light: $gray;
$link_color: $green;
$round: 3px;

$font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', 'メイリオ', 'Osaka', 'MS PGothic', sans-serif;

$mobile_break_point: 640px;
